---
import HashtagList from './HashtagList.astro';
import { Blog } from '../../util/blog';

export interface Props {
  blogs: Blog[];
}

const { blogs } = Astro.props as Props;

---

<div class="blogs">
  {blogs.map(blog => (
    <div class="blog">
      <div class="blog__cover">
        <a href={blog.url}>
          <img class="blog__cover__img" src={`${blog.url}/cover.png`} alt={blog.frontmatter.title}>
        </a>
      </div>
      <div class="blog__wrapper">
        <div class="blog__title">
          <a href={blog.url}>
            <span>{ blog.frontmatter.title }</span>
          </a>
        </div>
        <div class="blog__headline">
          <a href={blog.url}>
            <span>{ blog.frontmatter.headline }</span>
          </a>
        </div>
        <div class="blog__hashtags">
          <HashtagList hashtags={blog.frontmatter.hashtags}/>
        </div>
      </div>
    </div>
  ))}
</div>

<style lang="scss">
.blogs {
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(275px, 350px));
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 4rem;
}

.blog {
  background-color: var(--bgv);
  border-radius: 5px;
  box-shadow: var(--shadow);
  transition: transform 200ms ease-in-out;

  &:hover {
    transform: translateY(-10px);
  }

  &__cover__img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
  }

  &__wrapper {
    padding: 1rem;
    cursor: pointer;
  }

  &__title {
    margin-bottom: 1rem;
    color: var(--primary-color);
    // font-family: 'Baloo Thambi 2', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
  }

  &__headline {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    span {
      color: var(--text);
    }
  }

  &__hashtags {
    margin-bottom: .5rem;
  }
}


@media screen and (min-width: 768px) {
  .blogs {
    gap: 3rem;
  }
}
</style>